.page-background {
    width: vw;
    height: vh;
    position: relative;
    background: #DDEAED;
}

.content-background {
    width: 1440px;
    height: 911px;
    position: absolute;
    top: 113px;
    background: #F7F7F7;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.text-large {
    position: absolute;
    color: black;
    font-size: 96px;
    font-family: Italiana;
    font-weight: 400;
    word-wrap: break-word;
}

.text-medium {
    position: absolute;
    color: black;
    font-size: 64px;
    font-family: Italiana;
    font-weight: 400;
    word-wrap: break-word;
}

.text-small {
    position: absolute;
    color: #A5A5A5;
    font-size: 24px;
    font-family: Istok Web;
    font-weight: 400;
    word-wrap: break-word;
}

.rectangle {
    position: absolute;
    background: #D9D9D9;
    border-radius: 3px;
}

.button {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Istok Web;
    font-weight: 400;
    word-wrap: break-word;
    background: #D9D9D9;
    border: none;
}

.icon-circle {
    position: absolute;
    background: #222222;
    border-radius: 9999px;
}

.icon-line {
    position: absolute;
    border: 1px solid #222222;
}

.input-container {
    position: absolute;
    display: block;
    margin: 10px 0;
    width: 551px; /* Example width, adjust as necessary */
}

.label {
    display: block;
    font-family: 'Istok Web', sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Includes padding and border in width */
}
.forgot-password {
    left: 772px;
    top: 718px;
}

.hello-text {
    left: 232px;
    top: 480px;
    width: 458px;
    height: 19px;
}

.how-going-text {
    left: 232px;
    top: 582px;
}

.id-field {
    left: 772px; /* Example, adjust based on your layout needs */
    top: 475px;
}

.password-field {
    left: 772px; /* Example, adjust based on your layout needs */
    top: 555px; /* Adjust the top so it doesn't overlap the ID field */
}

.login-button {
    left: 1174px;
    top: 708px;
    width: 126px;
    height: 32px;
}

.signup-button {
    left: 973px;
    top: 720px;
    width: 144px;
    height: 32px;
}

